<div class='container-fluid p-5' style="background-color: rgb(170, 101, 235);">
    <div class="row">
        <div class="col-md-4 px-md-5">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="https://cdn-icons-png.flaticon.com/512/8250/8250566.png" alt="Logo" width="70" height="60" class="d-inline-block align-text-top">
                <h3 class="ms-2">GloboMart</h3>
            </a>
            <p class='text-light mt-3' >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore dignissimos illo id unde, aliquam velit quod consectetur minima fugit fuga, nobis, ipsam quibusdam! Illo fugit ipsa deleniti provident, vero totam?</p>
        </div>
        <div class="col-md-2 px-md-5 text-center">
        <h4 class='text-dark fw-medium'>Link</h4>
        <div class='text-light mt-3 '>
          <a  class='text-light text-decoration-none'><p>Home</p></a>
          <a  class='text-light text-decoration-none '><p>Cart</p></a>
          <a  class='text-light text-decoration-none'><p>Wishlist</p></a>
        </div>
        </div>
        <div class="col-md-2 px-md-5 text-center">
        <h4 class='text-dark fw-medium'>Guides</h4>
        <div class='text-light mt-3 '>
          <p>Angular</p>
          <p>Bootstrap</p>
          <p>Fontawesome</p>
          <p></p>
        </div>
        </div>
        <div class="col-md-4 px-md-5 text-center">
          <h4 class='text-dark fw-medium'>Contact Us</h4>
          <div class='d-flex mt-4'>
            <input type="text" placeholder='email id' class='form-control bg-light me-3'/>
            <button class='btn btn-dark '>Subscribe</button>
          </div>
          <div class='d-flex justify-content-between mt-5'>
            <i class="fa-brands fa-instagram fs-2"></i>
            <i class="fa-brands fa-facebook fs-2"></i>
            <i class="fa-brands fa-twitter fs-2"></i>
            <i class="fa-brands fa-whatsapp fs-2"></i>
          </div>

        </div>
    </div>
</div>
