
<app-header></app-header>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img [src]="product.image" alt="no-image" style="height: 400px; width: 90%;" /></div>
            <div class="col-md-6">
                <div class="small mb-1">PRODUCT ID: {{product._id}}</div>
                <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                <div class="fs-5 mb-5">
                
                    <span>$ {{product.price}}</span>
                </div>
                <p class="lead">{{product.description}}</p>
                <div class="d-flex justify-content-between mt-5">
                    <a (click)="addItemToWishlist()" class="btn btn-outline-danger px-4"><i class="fa-solid fa-heart me-2"></i>wishlist</a>
                    <a (click)="addToCart()" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping me-2"></i>add to cart</a>
                  </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
