<app-header></app-header>

<div class="container-fluid" style="margin-top: 80px;">
    <h1 class="text-center text-danger">Delivery Address</h1>

    <div class="row mt-5 ">
        <div class="col-md-1"></div>
        <div class="col-md-5 d-flex justify-content-center">
            <img src="https://img.freepik.com/free-vector/delivery-logo-with-bike-man-courier_1308-46728.jpg" alt="no-image" class="w-100 h-75 mt-5">
        </div>
        <div class="col-md-5 p-4">

            <form class="p-5 shadow" style="background-image: linear-gradient(to left, rgb(194, 177, 177) ,rgb(160, 69, 53) );">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name">
                    <label for="floatingInput">Name</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name34">
                    <label for="floatingInput">Apartment/flat:no</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="namett">
                    <label for="floatingInput">Place</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name123">
                    <label for="floatingInput">Pincode</label>
                  </div>

                  <div class="d-flex justify-content-between">
                    <button class="btn btn-warning"><i class="fa-solid fa-backward"></i>  Back</button>
                    <button class="btn btn-success">Confirm address  <i class="fa-solid fa-forward ms-2"></i></button>
                  </div>
            </form>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>
